{% block footer %}
    <footer class="group js-footer" id="footer" role="contentinfo">
        <!-- <div class="footer-wrapper">
            <div class="footer-categories">
                <div class="footer-explore">
                    <h2>Some footer menu</h2>
                    <ul>
                        <li><a href="#">Do you wanna use this?</a></li>
                    </ul>
                </div>

                <div class="footer-inside-government">
                    <h2>Some other footer menu</h2>
                    <ul>
                        <li><a href="#">Some other thing</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <h2 class="visuallyhidden">Support links</h2>
                    <ul>
                        <li><a href="/help">Help</a></li>
                        <li><a href="#">Some other link?</a></li>
                        <li>Built by the <a href="https://homeofficewebsite.org/">Home Office Massif</a>
                        </li>
                    </ul>
                </div>

                <div class="copyright">
                    <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown Copyright</a>
                </div>
            </div>
        </div> -->
    </footer>
{% endblock %}
