/web/bundles/
/web/css/
/web/js/
/web/uploads
/web/images
/src/HomeOffice/CtsBundle/Resources/public/css
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/.idea
/*.iml
/nbproject
.buildpath
.project
/.settings
.DS_Store
clover.xml
cov
.sass-cache
/components
/.metadata
