<a
    href="#"
    class="button-link button-target"
    data-target="{{ button.vars.id }}" id="{{ button.vars.id }}_TargetButton"
>{{ label }}</a>
{{ form_widget(button, {'attr': {'class': 'hidden'}}) }}