{% if form.Reject is defined %}
    <button class="button button-secondary button-modal" id="button-return" data-href="{{ path('homeoffice_cts_ctscase_return', { 'nodeRef': case.nodeId }) }}">
        {{ form.Reject.vars.label }}
    </button>
{% endif %}