<div id="overview" class="panel alt1 page-chunk">
    <h2>Overview</h2>
    <p>
        <label>Status</label> <span class="overview_status">{{ ctsCase.caseStatus }}</span>
    </p>
    <p>
        <label>Task</label> <span class="overview_task">{{ ctsCase.caseTask }}</span>
    </p>
    <p>
        
        <label>Owner</label> <span class="overview_owner">{{ ctsHelper.wordWrap(ctsCase.caseOwner, 16)|nl2br }}</span>
    </p>
    <p class="URN last">
        <label>HRN</label> <span class="overview_urn">{{ ctsCase.getUrn }}</span>
    </p>
</div>