<div id="foi-consultation" class="panel medium page-chunk">
    <h2>Consultation</h2>
    <div>
        <p class="last">
            <span>{{ ctsCase.getConsultations }}</span>
        </p>
    </div>
</div>