<div id="hmpo-outcome" class="panel medium page-chunk">
    <h2>Outcome</h2>
    <div>
        <p class="last">
            <span>{{ ctsCase.hmpoComplaintOutcome }}</span>
        </p>
    </div>
</div>
