<div id="hmpo-refund" class="panel medium page-chunk">
    <h2>Refund</h2>
    <div>
        <p>
            <label>Refund:</label>
            <span>{{ ctsCase.hmpoRefundDecision }}</span>
        </p>
        <p class="last">
            <label>Amount (£):</label>
            <span>{{ ctsCase.hmpoRefundAmount }}</span>
        </p>
    </div>
</div>