<div id="panels" class="sibling-group">
    
    {% include "HomeOfficeCtsBundle:Case/View:_caseOverview.html.twig" %}
    
    <div id="deadline" class="panel alt2 page-chunk">
        <h2>Deadline <span>{{ ctsHelper.formatDateTimeToDate(ctsCase.caseResponseDeadline) }}</span></h2>
        <h3>Targets</h3>
        {% spaceless %}{# compatibilty mode bug #}
        <p>
            <label>Hub</label>
            <span>{{ ctsHelper.formatDateTimeToDate(ctsCase.allocateToResponderTarget)|default('-') }}</span>
        </p>
        <p>
            <label>Allocate</label>
            <span>{{ ctsHelper.formatDateTimeToDate(ctsCase.responderHubTarget)|default('-') }}</span>
        </p>
        <p>
            <label>Draft</label>
            <span>{{ ctsHelper.formatDateTimeToDate(ctsCase.draftResponseTarget)|default('-') }}</span>
        </p>
        {% endspaceless %}
    </div>
</div>
