{% extends "GuftBundle:Default:layout.html.twig" %}

{% block title %}Email sent{% endblock %}

{% block searchButton %}{% endblock %}
{% block helpButton %}{% endblock %}
{% block signoutButton %}{% endblock %}
{% block dropdown %}{% endblock %}

{% block content %}
<section class="grid-row">
    <section class="column-full">
    {% block phasebanner %}{% endblock %}

        <div>
            <p>If the email address you entered is valid, you will receive an email from us at {{ forgottenPasswordForm.vars.value.username }}.</p>
            <p>If you have not received an email within 15 minutes, then please contact a super user.</p>
        </div>
        <div>
            <a href="{{ path('homeoffice_cts_home_home') }}">Return to login</a>
        </div>

    </section>
</section>
{% endblock %}
