<fieldset id="foi-assess" class="panel medium">
    <h2>Assess</h2>
    <div>
        {{ form_label(ctsCaseForm['exemptions']) }}
        {{ form_widget(ctsCaseForm['exemptions']) }}
    </div>
    <div class="last">
        {{ form_label(ctsCaseForm['foiDisclosure']) }}
        {{ form_widget(ctsCaseForm['foiDisclosure']) }}
    </div>
</fieldset>
