<fieldset id="hmpo-outcome" class="panel medium">
    <h2>Outcome</h2>
    <div>
        <div class="spot-control with-inner last">
            {{ form_widget(ctsCaseForm['hmpoComplaintOutcome']) }}
        </div>
    </div>
</fieldset>
