<fieldset id="hmpo-refund" class="panel medium">
    <h2>Refund</h2>
    <div>
        {{ form_label(ctsCaseForm['hmpoRefundDecision']) }}
        {{ form_widget(ctsCaseForm['hmpoRefundDecision']) }}
    </div>
    <div class="last">
        {{ form_label(ctsCaseForm['hmpoRefundAmount']) }}
        {{ form_widget(ctsCaseForm['hmpoRefundAmount']) }}
    </div>
</fieldset>
