body.reset-password {
  .panel {
    width: 450px;
    fieldset {
      label, .spacer {
        width: 165px;
      }
      input {
        width: 245px;
      }
      .instructions {
        margin-bottom: 25px;
        p {
          margin-bottom: 15px;
        }
      }
      .password-policy ul {
        list-style-type: circle;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .buttons {
        margin-top: 30px;
      }
    }
  }
}