<div class="markupCancelToggle">
    <div class="form-group">
        {{ form_label(form['NoReplyNeeded']['markupCancelDetails']) }}
        {{ form_widget(form['NoReplyNeeded']['markupCancelDetails']) }}
    </div>

    <div class="form-group">
        {{ form_label(form['NoReplyNeeded']['markupCloseCancel']) }}
        {{ form_widget(form['NoReplyNeeded']['markupCloseCancel']) }}
    </div>
</div>