<div class="markupReferToggle">
    <div class="form-group">
        {{ form_label(form['ReferToOGD']['ogdName']) }}
        {{ form_widget(form['ReferToOGD']['ogdName']) }}
    </div>

    <div class="form-group">
        {{ form_label(form['ReferToOGD']['markupCloseRefer']) }}
        {{ form_widget(form['ReferToOGD']['markupCloseRefer']) }}
    </div>
</div>